@media (max-width: 740px) { 
    .col-sm-6{
        display: flex;
        justify-content: center;
    }
    img{
        width: 90%;
        margin-left: 2px;
      }
      .topSpan{
          margin-left: 5px;   
          position: relative;
      }
.longCol{
    margin-left: 15px;
    margin-right: 15px;
}
.Maincard{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}
 }